body{
font-family: 'Times New Roman', Times, serif;
}

.nav-bar{
    background-color: #ff0000;
    background-size: cover;
    width: 1500px;
    height: 226px;
    color: black;
    margin-top: -6%;
    margin-right: -2%;
    margin-left: -2%;
    position: fixed;
}


.nav-bar h1{
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    font-size: 5em;
    padding-top: 3%;
    letter-spacing: 2px;
    font-weight: 600;
}

.nav-bar h4{
    position: absolute;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em;
    
    left: 4%;
    top: 21%;
    font-weight: 800;
    
}

*.li{
text-decoration: none;

}

.banner img{
    max-width: 631px;
    z-index: 3;
    margin-left: 19%;
    margin-top: 1%;
    position: absolute;
}

.texto-banner{
   
    columns: 3;
    margin-left: 60%;
    margin-right: 3%;
    letter-spacing: 2px;
    font-size: small;
    padding-top: 13%;
}

.texto-banner h6{
    
    }



.nav-bar ul{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    position: absolute;
    top: 9%;
    right: 3%;
}

.abajo h1{
    
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    font-size: 16em;
    top: 24%;
    left: 8%;

}